#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.introButtonContainer {
  position: relative;
  display: inline-block;
}
.introButton {
  background-color: #242424;
  width: 500px;
  height: 300px;
  font-size: 50px;
  z-index: 1;
}

.hoverMessageIntro{
  bottom: 75%;
  left: 47%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 100;
}
